---
---

@import "{{ site.theme }}";

header h1 {
    width: 940px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
}

header h2 {
    width: 940px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    color: #9ddcff;
    letter-spacing: 0;
}


.aside-item {
    margin: 20px 0;
}
.aside-item .title {
    line-height: 24px;
    color: #232323;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
    font-family: 'Spirax', cursive;
    text-transform: uppercase;
}
.aside-item .list {
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Arial;
    list-style-type: disc;
    line-height: 24px;
    padding-left: 18px;
    text-decoration: none;
}
.aside-item .list a {
    color: #91736b;
    text-decoration: none;
}
.aside-item .list a:hover {
    border-bottom: 3px double rgba(0, 0, 0, 0.1);
}